# Preparation

In [1]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
import pandas as pd

high_school = pd.DataFrame({
    "Name": ["John", "Marcus", "Maria", "July"],
    "Class": ["First Grade", "First Grade", "Second Grade", "Third Grade"],
    "Age": [16, "NaN", 17, 18],
    "Grades": [10., 6., 8., "NaN"]
})

pipeline = Pipeline([
     ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler())
])

high_school_nums = ["Age", "Grades"]
cat_high_school = ["Class"]

high_school_new_values = ColumnTransformer([
    ("num", pipeline, high_school_nums),
    ("cat_encoder", OneHotEncoder(), cat_high_school)
], 
    # Isto impede da coluna "Name" ser apagada
    remainder="passthrough")

## Transforming the data

In [2]:
high_school_transformed = high_school_new_values.fit_transform(high_school)
high_school_transformed_df = pd.DataFrame(high_school_transformed)
high_school_transformed_df

          0         1    2    3    4       5
0 -1.414214  1.414214  1.0  0.0  0.0    John
1       0.0 -1.414214  1.0  0.0  0.0  Marcus
2       0.0       0.0  0.0  1.0  0.0   Maria
3  1.414214       0.0  0.0  0.0  1.0    July

In [3]:
high_school_transformed

array([[-1.414213562373095, 1.414213562373095, 1.0, 0.0, 0.0, 'John'],
       [0.0, -1.414213562373095, 1.0, 0.0, 0.0, 'Marcus'],
       [0.0, 0.0, 0.0, 1.0, 0.0, 'Maria'],
       [1.414213562373095, 0.0, 0.0, 0.0, 1.0, 'July']], dtype=object)

# New Parameters

AttributeError: 'Pipeline' object has no attribute 'copy'